<div>
  <table class="table" style="border-radius:3%" >
    <tr ><td colspan="2">{{pollObj.question}}</td></tr>
    <tbody  *ngFor="let item of pollObj.options" >
      <tr><td >{{item.text}}</td><td><input type="radio" name="vote" value="{{item.value}}" [(ngModel)]=vote></td></tr>
    </tbody>
  </table>
  <td colspan="2"><button type="submit" class="btn btn-primary" (click)="sendVote()">Submit</button></td>  
</div>


<div style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
    [colors]="colors">
  </canvas>
</div>
